/* reset CSS */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

/* MY CSS */
/* header */
header {
  position: fixed;
  top: 0;
  z-index: 9;

  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 0 5px 0 #eee;
}

.nav-bar {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-img {
  height: 90%;
  margin-right: 10px;
}

.logo-text {
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 50px;
}

.links {
  position: absolute;
  top: 50px;
  left: 0;

  width: 100%;
  transition: transform 0.2s ease-out;
  transform: scale(1, 0);
  transform-origin: top;
}

.links > a {
  display: block;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  background: rgba(255, 255, 255, 0.95);
  border-bottom: 1px solid #ccc;

  color: transparent;
  /* 原本是設定 opacity，但因為我的 HTML 架構沒有再包一層，所以收合時會導致三個 a 整條瞬間消失，而沒有動畫（opacity0好像等於瞬間沒有） */
}

.icon {
  font-size: 1.2rem;
  color: #555;
  margin: 2px;
}

.show-in-tab {
  display: none;
}

/* hamburger */

.navbar-toggle {
  display: none;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  position: relative;
  bottom: 5px;
  display: inline-block;

  width: 20px;
  height: 3px;
  background: #555;
}

.hamburger::before,
.hamburger::after {
  position: absolute;
  left: 0;
  content: "";
}

.hamburger::before {
  bottom: 8px;
}

.hamburger::after {
  top: 8px;
}

.navbar-toggle:checked ~ .links {
  display: unset;
  transform: scale(1, 1);
}

.navbar-toggle:checked ~ .links > a {
  transition: color 0.2s ease-out 0.15s;
  color: #555;
}

/* main */
.product-panel {
  margin-top: 50px;
  padding: 30px;
}

.panel-title {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.panel-sort-bar {
  margin: 0 auto 20px;
  width: 90%;
  text-align: center;
}

.sort {
  width: 200px;
  height: 2.5rem;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px inset #777;
  font-size: 0.9rem;
}

.panel-clothes {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 15px;
}

.clothes-img {
  position: relative;
  width: 100%;
  height: auto;
}

.clothes-img-bg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.clothes-img-model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;

  transition: opacity 0.2s ease-out;
  opacity: 0;
}

.action-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 50%;
}

.clothes-item > p {
  text-align: center;
  font-size: 0.8rem;
}

.clothes-name {
  padding-top: 8px;
}

.clothes-price {
  padding-top: 3px;
  font-weight: 500;
}

.clothes-item:hover .clothes-img-model {
  opacity: 1;
}

.panel-items-count {
  text-align: center;
  font-size: 0.8rem;
  margin: 100px auto 40px;

  color: #555;
}

/* banner */
.banner {
  width: 100%;
  min-height: 200px;
}

.banner-wrapper {
  position: relative;
  margin: 0 auto;
  background-color: #eee;
  width: 100%;
  min-height: 200px;
}

.banner-bg-img {
  width: 100%;
  opacity: 0;
}

.banner-text {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 30px;
}

.sub-title {
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
  line-height: 1.5;
}

.sign-up-form {
  font-size: 0;
  border-radius: 20px;
  box-shadow: 0 0 3px 0 #ddd;
}

.form-input-email {
  width: 300px;
  border: none;
  border-radius: 20px 0 0 20px;
  padding: 10px;
  text-align: center;
}

.form-submitBtn {
  background-color: #000;
  border: none;
  border-radius: 0 20px 20px 0;
  padding: 10px 20px;
  color: #fff;
  font-weight: 600;
}

.description {
  color: #555;
  font-size: 0.9rem;
}

.description a {
  color: #222;
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .nav-bar {
    max-width: 1200px;
  }
  .logo {
    order: -1;
  }
  .links {
    position: unset;
    display: inline;
    width: auto;
    transform: unset;
  }

  .links a {
    display: inline;
    border: none;
    padding: 10px 20px;
    color: #555;
  }

  .iconsbar-1 {
    display: none;
  }

  .iconsbar-2 {
    order: 1;
  }

  .show-in-tab {
    display: unset;
  }

  /* banner */
  .banner-wrapper {
    max-width: 900px;
  }

  .banner-bg-img {
    opacity: 1;
  }
}
